<!doctype html>
<html lang="en">
    <head th:insert="blocks/htmlHead :: htmlHead"></head>
<body>
    <div class="container col-md-6">
        <!-- NavMenu -->
        <header th:insert="blocks/navmenu :: navmenu"></header>


        <div class="row mt-5">
            <div class="col-md-12">
                <h5 class="text-center">Add Car</h5>
                <form method="POST" th:action="@{/addcar}" th:object="${data}">

                    <!-- VIN CODE -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">VIN Code:</span>
                        <input type="text" name="vin" class="form-control" />
                    </div>

                    <!-- Car Brand & Model -->
                    <div class="input-group mb-3 d-flex">
                        <input type="text" name="brand" class="form-control me-1" placeholder="Car Brand">
                        <input type="text" name="model" class="form-control ms-1" placeholder="Car Model">
                    </div>

                    <!-- Year of manufacture && REG Number-->
                    <div class="input-group mb-3 d-flex">
                        <input type="number" name="year" 
                            class="form-control me-1" min="1940" max="2022" step="1"
                            placeholder="Year of manufacture (1940-2022)">
                        <input type="text" name="reg" class="form-control me-1" placeholder="REG Number">
                    </div>                    
                    <!-- SAVE -->
                    <input type="submit" class="btn btn-primary mt-2" value="Add" />
                </form>
            </div>


            <!-- RELATIONSHIP CLIENT && CARs -->
            <form method="POST" th:action="@{/addcars/relations}">
                <div class="row mt-5">
                    <div class="input-group mb-3">
                        <select class="form-select" name="carid">
                            <option value="0" selected >Select Car</option>
                            <option th:each="carData : ${carData}" 
                                th:text="${carData.reg} + ', ' + ${carData.brand} + ' ' + ${carData.model}"
                                th:value="${carData.id}"></option>
                        </select>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Select</th>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Surname</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="clients : ${clients}">
                                <td>
                                    <!-- <form>
                                    <input type="hidden" name="carid" th:value=${cars.id}>
                                    <input class="btn btn-sm btn-primary"
                                    type="submit" value="Add"/>
                                </form> -->
                                    <input type="checkbox" name="clients[]" th:value=${clients.id}>
                                </td>
                                <td th:text="${clients.id}"></td>
                                <td th:text="${clients.name}"></td>
                                <td th:text="${clients.surname}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-6 offset-3">
                        <input type="submit" class="col-md-12 btn btn-primary mt-2" value="Save">
                    </div>
                </div>
            </form>

        </div>

    </div>
</body>
</html>
