<!doctype html>
<html lang="en">

<head th:insert="blocks/htmlHead :: htmlHead"></head>

<body>
    <div class="container col-md-6">
        <!-- NavMenu -->
        <header th:insert="blocks/navmenu :: navmenu"></header>

        <div class="row mt-5">
            <div class="col-md-6">
                <h5 class="text-center">Cars</h5>
                <form method="POST" th:action="@{/findclients}">
                    <select class="form-select" name="carid">
                        <option value="0" selected>Select Client</option>
                        <option th:each="selectCars : ${selectCars}" 
                            th:text="'Reg: ('+${selectCars.Reg} + '), ' + ${selectCars.brand}+' '+${selectCars.model}"
                            th:value="${selectCars.id}"></option>
                    </select>
                    <!-- <input type="hidden" name="carid" th:value="${woo.id}"/> -->
                    <input type="submit" class="btn btn-primary mt-2" value="Search" />
                    <a class="btn btn-primary mt-2" href="/showallcars">Show All cars</a>
                </form>
            </div>
            <div class="col-md-6">
                <h5 class="text-center">Owners</h5>
                <form method="POST" th:action="@{/findcars}">
                    <select class="form-select" name="clientid">
                        <option value="0" selected>Select Client</option>
                        <option th:each="selectClients : ${selectClients}" th:text="${selectClients.name} + ' ' + ${selectClients.surname}"
                            th:value="${selectClients.id}"></option>
                    </select>
                    <input type="submit" class="btn btn-primary mt-2" value="Search" />
                </form>
            </div>
        </div>

        <div th:insert="blocks/carsListByClient :: carsListByClient"></div>
        <div th:insert="blocks/clientListByCar :: clientListByCar"></div>
        <div th:insert="blocks/showallcars :: showallcars"></div>

</body>

</html>